# DELETE THIS FILE IF GIT IS ALREADY INITIALIZED
{% raw %}
# initialize a git repo and setup venv
init: venv
    git init
    @just hooks-install
    git add .
    - just hooks
    @just _remove_init
    git add .
    git commit -m "initial commit"
    @echo "{{ GREEN }}{{ BOLD }}Git has been initialized{{ NORMAL }}"


_remove_init:
    find . -name 'init.just' -exec rm -f {} +
    - sed '7,8d' Justfile > Justfile.tmp && mv Justfile.tmp Justfile

{% endraw %}
