# Default command lists all available recipes
[default]
_default:
    @just --list --unsorted

import? "init.just"

alias c := clean
alias d := dist
alias h := hooks
alias q := check
alias t := test
{% raw %}
# display the system/project information
[group("chore")]
info:
    @echo "{{ CYAN }}Arch{{ NORMAL }}: {{ arch() }}"
    @echo "{{ CYAN }}OS{{ NORMAL }}: {{ os_family() }}, {{ os() }}"
    @echo "{{ CYAN }}Num CPU's{{ NORMAL }}: {{ num_cpus() }}"
    @echo "{{ CYAN }}Project{{ NORMAL }}: `uv version`"
{% endraw %}
# lint python code using ruff
[group("style")]
check-lint:
    uv run ruff check . --fix

# format python code using ruff
[group("style")]
check-format:
    uv run ruff format .

# run the type checker ty
[group("style")]
check-types:
    uv run ty check

# lint, format with ruff and type-check with ty
[group("style")]
check: check-lint check-format check-types

# run tests with coverage
[group("test")]
test:
    uv run pytest tests/

# run tests for all the supported Python versions
[group("test")]
testall:
    uv run --python={{py_version_past}} pytest
    uv run --python={{py_version_current}} pytest
    uv run --python={{py_version_future}} pytest
{% raw %}
# run all the formatting, linting, and testing commands
[group("test")]
ci python="3.12":
    uv run --python={{ python }} ruff format .
    uv run --python={{ python }} ruff check . --fix
    uv run --python={{ python }} ty check .
    uv run --python={{ python }} pytest tests/
{% endraw %}
# setup the pre-commit hooks
[group("repo")]
hooks:
    {%- if pre_commit == "prek" %}
    uvx prek install
    {%- elif pre_commit == "pre-commit" %}
    uvx pre-commit install
    {%- endif %}
{% raw %}
# clean all python build/compilation files and directories
[group("repo")]
clean: clean-build clean-pyc clean-test

# remove build artifacts
[private]
clean-build:
    rm -fr build/
    rm -fr site/
    rm -fr dist/
    rm -fr .eggs/
    find . -name '*.egg-info' -exec rm -fr {} +
    find . -name '*.egg' -exec rm -f {} +

# remove Python file artifacts
[private]
clean-pyc:
    find . -name '*.pyc' -exec rm -f {} +
    find . -name '*.pyo' -exec rm -f {} +
    find . -name '*~' -exec rm -f {} +
    find . -name '__pycache__' -exec rm -fr {} +

# remove test and coverage artifacts
[private]
clean-test:
    rm -f .coverage
    rm -fr htmlcov/
    rm -fr .pytest_cache

# install dependencies in local venv
[group("repo")]
venv:
    uv sync --all-groups --all-extras

# update dependencies
[group("repo")]
update:
    uv lock --upgrade

# build the source distribution and wheel file with uv (bump version first)
[group("repo")]
dist:
    uv build
{% endraw %}
{% if include_docs -%}
# serve the documentation
[group("repo")]
docs:
    uv sync --group docs
    {% if docs_engine == "zensical" -%}
    uv run zensical serve
    {%- elif docs_engine == "mkdocs" -%}
    uv run mkdocs serve
    {%- endif -%}
{% endif -%}
{% raw %}

_ensure_clean:
    @git diff --quiet
    @git diff --cached --quiet

_set_version target:
    case "{{ target }}" in \
        [0-9]*.[0-9]*.[0-9]*) \
            uv version {{ target }} ;; \
        *) \
            uv version --bump {{ target }} ;; \
    esac
    uv lock

# write the changelog (using "github.com/pawamoy/git-changelog")
[group("chore")]
changelog version=`uv version --short`:
    uvx git-changelog -Tio CHANGELOG.md -B="{{ version }}" -c conventional

_commit_and_tag version=`uv version --short`:
    git add pyproject.toml uv.lock CHANGELOG.md
    git commit -m "chore(release): bumped version to {{ version }}"
    git tag -a "v{{ version }}"

# make a new release (target can be <major,minor,patch,...> or semver)
[group("chore")]
release target:
    @just _ensure_clean
    @just _set_version {{ target }}
    @just changelog
    @just _commit_and_tag
    @echo "{{ GREEN }}Release complete. Run 'git push && git push --tags'.{{ NORMAL }}"
{% endraw -%}
