# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Release
{% raw %}
on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
{% if changelog_tool == "git-changelog" %}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.28"

      - name: Install git-changelog
        run: uv tool install git-changelog

      - name: Prepare release notes
        run: git-changelog --release-notes > release-notes.md
{% else if changelog_tool == "git-cliff" %}
      - name: Install git-cliff
        uses: taiki-e/install-action@git-cliff

      - name: Run git-cliff
        run: git cliff -v --latest --no-exec --strip header --output release-notes.md
{% endif %}
      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create ${{ github.ref_name }} \
            --repo ${{ github.repository }} \
            --title {% endraw %}"{{ project_name }}{% raw %} - ${{ github.ref_name }}" \
            --notes-file release-notes.md \
            --fail-on-no-commits \
            --draft{% endraw %}
