name: Run Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: continuous-integration
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - "[PY_VERSION_3]"
          - "[PY_VERSION_2]"
          - "[PY_VERSION_1]"
          - "[PY_VERSION_C]"
          - "[PY_VERSION_F]"
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the Project
        run: uv sync --locked --all-extras --dev

      - name: Run Tests
        run: uv run --with pytest pytest tests
